<h1>New Drink</h1>

<%= form_for @drink  do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :category %>
  <%= f.text_field :category %>

  <%= f.label :img_url %>
  <%= f.text_field :img_url %>

  <%= f.label :ounces %>
  <%= f.number_field :ounces %>

  <%= f.submit %>
<% end %>

<%# <form action="/drinks" method="POST">
  <input type="text" name="drink[name]" >
  <input type="text" name="category" >
  <input type="text" name="img_url" >
  <input type="number" name="ounces">

  <input type="submit">
</form> %>